.main {
  display: grid;
  gap: 180px;
  width: 99vw;

  #map {
    height: 70vh;
    width: 100%;
  }

  &__content {
    display: flex;
    align-items: center;

    &__info {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__description {
      font-size: 17px;
      font-weight: 400;
      line-height: 28px;
      text-wrap: wrap;
      margin: 0;

      span {
        font-weight: 700;
      }
    }
  }

  div.phone-us {
    position: absolute;
    left: 1vw;
    bottom: 1rem;
    width: 70px;
    height: 70px;

    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      object-fit: cover;

      img {
        object-fit: cover;

        &:nth-child(1) {
          width: 100%;
        }

        &:nth-child(2) {
          width: 40%;
          z-index: 10;
        }
      }
    }
  }

  &__our-medical-centres {
    display: grid;
    gap: 40px;
    width: 100%;

    .main__content {
      .slideshow-container {
        max-width: 1000px;
        position: relative;

        .fade {
          animation: fade 1.5s normal forwards;
        }

        .mySlides {
          position: relative;

          img {
            border-radius: 15px;
            box-shadow: 0 1px 5px gray;
          }

          .clinic-info {
            text-align: center;

            color: hsl(0, 0%, 95%);
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-shadow: 0.2px 0.2px 2px black;

            .clinic-city-text--bold {
              font-size: 17px;
              font-weight: 700;
            }
          }
        }
      }
    }

    .slides {
      .slide {
        border-radius: 10px;

        img {
          border-radius: 10px;
          transition: box-shadow 0.6s ease-in-out;
          box-shadow: 0px 0px 10px rgb(157, 171, 230);

          &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 20px rgb(31, 72, 255);
            transition: box-shadow 0.5s ease-in-out;
          }
        }
      }
    }
  }

  &__popular-services {
    .main__content {
      align-items: flex-start;

      &__services-offers {
        display: flex;
        justify-content: flex-end;

        .offer-link {
          cursor: pointer;
          color: var(--white);
          background-color: var(--primary-color);
          text-transform: uppercase;
          text-wrap: nowrap;


          padding: 10px 20px;
          font-size: 8px;
          font-weight: 700;
          line-height: 100%;

          &::after {
            content: "";
            display: block;
            height: 6px;
            width: 6px;
            transform: rotate(-45deg);

            position: absolute;
            right: 10px;
            bottom: 12px;

            border-right: 1px solid;
            border-bottom: 1px solid;
            border-color: var(--white);
          }
        }
      }
    }
  }
}

h1.styled-text--large {
  font-size: 3rem;
  font-weight: 700;
  line-height: 72.8px !important;
  letter-spacing: 1.56px !important;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;

  >span.styled-text--red {
    line-height: 72.8px !important;
    letter-spacing: 1.56px !important;

    color: var(--primary-color);
    width: max-content;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}


@media screen and (min-width: 576px) {
  h1.styled-text--large {
    font-size: 2rem;
    line-height: 2.2rem !important;

    span.styled-text--red {
      line-height: unset !important;
    }
  }

  .offer-link {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .offer-link {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 992px) {
  h1.styled-text--large {
    font-size: 2rem;
    line-height: 3rem !important;
    display: flex;
    align-items: flex-start;

    span.styled-text--red {
      line-height: unset !important;
    }
  }

  .offer-link {
    font-size: 8px !important;
  }
}

@media screen and (min-width: 1200px) {
  .offer-link {
    font-size: 10px !important;
  }
}


@media screen and (max-width: 992px) {
  .main__content {
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__description {
      text-align: center;
    }
  }

  h1.styled-text--large {
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .slides {
    :nth-child(odd) {
      display: flex;
      justify-content: flex-end;
    }

    :nth-child(even) {
      display: flex;
      justify-content: flex-start;
    }

    .slide img {
      width: 40% !important;
    }
  }

  h1.styled-text--large {
    font-size: 1.5rem;
    line-height: 2rem !important;

    span.styled-text--red {
      line-height: unset !important;
    }
  }

  .main {
    gap: 100px;

    &__content {
      &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &__description {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        text-wrap: wrap;
        margin: 0;

        span {
          font-weight: 700;
        }
      }
    }
  }
}