main.main {

  figure.zoom {
    background-position: 50% 50%;
    background-size: 100% 100%;

    position: relative;
    overflow: hidden;
    cursor: zoom-in;

    img {
      transition: opacity .5s;
      width: 100%;
      display: block;

      &:hover {
        opacity: 0;
      }
    }
  }


  &__our-medical-centres {
    padding-top: 180px;
  }
}