<footer class="footer">
  <div class="row pt-4 pb-5 px-5">
    <h1 class="footer__styled-text--large col-3">
      Довірте <br />нам свою <span class="styled-text--red">посмішку!</span>
    </h1>

    <div class="footer__links col-9">

      <!-- General links -->
      <div class="general footer__general col-3 p-0">
        <div class="links-title">Головна</div>
        <ul class="row general__links">
          <li class="col-12"><a href="#">Технології</a></li>
          <li class="col-12"><a href="#">Ціни</a></li>
          <li class="col-12"><a href="#">Лікарі</a></li>
          <li class="col-12"><a href="#">Наші новини</a></li>
          <li class="col-12"><a href="#">Галерея робіт</a></li>
        </ul>
      </div>

      <!-- Services links -->
      <div class="services footer__services col-9 p-0">
        <div class="links-title">Послуги</div>
        <ul class="row services__links">
          <li class="col-6"><a href="#">Діагностика</a></li>
          <li class="col-6"><a href="#">Хірургічна стоматологія</a></li>

          <li class="col-6"><a href="#">Медикаментозний сон</a></li>
          <li class="col-6"><a href="#">Пародонтологія</a></li>

          <li class="col-6"><a href="#">Рентгенографія</a></li>
          <li class="col-6"><a href="#">Ортопедична стоматологія</a></li>

          <li class="col-6">
            <a href="#">Професійна гігієна ротової порожнини</a>
          </li>
          <li class="col-6"><a href="#">Імплантологія</a></li>

          <li class="col-6"><a href="#">Відбілювання зубів</a></li>
          <li class="col-6"><a href="#">Ортодонтія</a></li>

          <li class="col-6"><a href="#">Терапевтична стоматологія</a></li>
          <li class="col-6"><a href="#">Дитяча стоматологія</a></li>

          <li class="col-6">
            <a href="#">Ендодонтичне лікування зубів</a>
          </li>
          <li class="col-6"><a href="#">Інші послуги</a></li>
        </ul>
      </div>
    </div>
  </div>

  <hr class="p-0 m-0">

  <!-- Bottom content -->
  <div class="bottom-content row">
    <div class="bottom-content__author-rule col-5">
      Авторське право ©2024 Медичний центр стоматології «Пародент».
    </div>
    <div class="bottom-content__social-links col-4">
      <a class="bottom-content__social-link"
        href="https://www.facebook.com/people/Parodent-Parodent/pfbid0TRZPXFyPceFoS2KeQXL4EprEN4QZqxDKDMZzzwEkDtyNw9y2h8h2HCT9o1JzkyVVl/">
        <img src="../img/facebook-link.png" alt="facebook icon">
      </a>
      <a class="bottom-content__social-link" href="https://www.instagram.com/_parodent_/">
        <img src="../img/instagram-link.png" alt="instagram icon">
      </a>
    </div>
    <div class="bottom-content__creator-text col-3 gap-2">
      Створення сайтів
      <img src="../img/footer-redstone.svg" alt="redstone text" class="h-50" />
    </div>
  </div>
</footer>