<footer class="footer">
  <div class="footer__main-content">
    <div class="styled-text--large footer__text">Довірте <br>нам свою <span class="styled-text--red">посмішку!</span>
    </div>

    <div class="footer__links">
      <div class="general footer__general">
        <div class="links-title">Головна</div>
        <ul class="general__links">
          <li class="footer-link">Технології</li>
          <li class="footer-link">Ціни</li>
          <li class="footer-link">Лікарі</li>
          <li class="footer-link">Наші новини</li>
          <li class="footer-link">Галерея робіт</li>
        </ul>
      </div>
      <div class="services footer__services">
        <div class="links-title">Послуги</div>
        <ul class="services__links">
          <li class="footer-link">Діагностика</li>
          <li class="footer-link">Медикаментозний сон</li>
          <li class="footer-link">Рентгенографія</li>
          <li class="footer-link">Професійна гігієна ротової порожнини</li>
          <li class="footer-link">Відбілювання зубів</li>
          <li class="footer-link">Терапевтична стоматологія</li>
          <li class="footer-link">Ендодонтичне лікування зубів</li>
          <li class="footer-link">Хірургічна стоматологія</li>
          <li class="footer-link">Пародонтологія</li>
          <li class="footer-link">Ортопедична стоматологія</li>
          <li class="footer-link">Імплантологія</li>
          <li class="footer-link">Ортодонтія</li>
          <li class="footer-link">Дитяча стоматологія</li>
          <li class="footer-link">Інші послуги</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer__bottom-content">

  </div>
</footer>