<header class="header">
  <div class="row">
    <div class="col-12">

      <div class="header__wrapper">

        <!-- Toggle for sidebar -->
        <div class="toggle__wrapper">
          <div class="toggle header__toggle">
            <div class="toggle__line"></div>
            <div class="toggle__line"></div>
            <div class="toggle__line"></div>
          </div>
        </div>

        <!-- Header logo -->
        <div class="logo header__logo">
          <img src="../img/logo.svg.svg" alt="logo name" class="logo__name">
          <span class="logo__network-of-dentists">Мережа стоматологій</span>
        </div>

        <!-- Navigation -->
        <nav class="header__navigation">
          <ul>
            <li><a href="#">Стоматологія в USA та CAN</a></li>
            <li><a href="#">Послуги</a></li>
            <li><a href="#">Лікарі</a></li>
            <li><a href="#">Ціни</a></li>
            <li><a href="#">Про нас</a></li>
            <li><a href="#">Галерея робіт</a></li>
            <li><a href="#">Контакти</a></li>
          </ul>
          <button class="online-registration-btn header__online-registration-btn">
            Запис онлайн
          </button>
        </nav>

        <div class="select">
          <div class="select-address-styled header__select-address">
            <span id="lviv-shevchenko-street" selected hidden>м. Львів, вул. Шевченка, 87А</span>
            <span id="lviv-lichakiv-street">м. Львів, Личаківська,52</span>
            <span id="lviv-skorik-street">м. Львів, вул.Скорика, 29</span>
            <span id="lviv-deep-street">м. Львів, вул. Глибока, 4</span>
            <span id="lviv-red-kalina-street">
              м.Львів, пр-т. Червоної Калини, 85a
              <span class="select-adress__phone-number">+38 (067) 000 21 87</span>
              <span class="select-adress__phone-number">+38 (044) 334 41 00</span>
            </span>
            <span>Харківська</span>
            <span>Харківська</span>
            <span>Харківська</span>
          </div>
        </div>
      </div>
    </div>
</header>