<header class="header">
  <div class="header__wrapper">

    <!-- Toggle for sidebar -->
    <div class="toggle__wrapper">
      <div class="header__toggle">
        <div class="header__toggle-line"></div>
        <div class="header__toggle-line"></div>
        <div class="header__toggle-line"></div>
      </div>
    </div>

    <!-- Header logo -->
    <div class="logo header__logo">
      <img src="../img/logo.svg.svg" alt="logo name" class="logo__name">
      <span class="logo__network-of-dentists">Мережа стоматологій</span>
    </div>

    <!-- Navigation -->
    <nav class="header__navigation">
      <ul>
        <li><a href="#">Стоматологія в USA та CAN</a></li>
        <li><a href="#">Послуги</a></li>
        <li><a href="#">Лікарі</a></li>
        <li><a href="#">Ціни</a></li>
        <li><a href="#">Про нас</a></li>
        <li><a href="#">Галерея робіт</a></li>
        <li><a href="#">Контакти</a></li>
      </ul>
      <button class="styled-btn header__online-registration-btn">
        Запис онлайн
        <div class="styled-btn__bottom-line--red"></div>
      </button>
    </nav>

    <!-- Select Parodent place -->
    <details class="custom-select">
      <summary class="radios">
        <input type="radio" name="Address" id="default" title="Виберіть Parodent" checked>
        <input type="radio" name="Address" id="address1" title="м.Львів, вул.Шевченка, 87А">
        <input type="radio" name="Address" id="address2" title="м.Львів, вул.Личаківська, 52">
        <input type="radio" name="Address" id="address3" title="м.Львів, вул.Скорика, 29">
        <input type="radio" name="Address" id="address4" title="м.Львів, вул.Глибока, 4">
        <input type="radio" name="Address" id="address5" title="м.Львів, пр-т.Червоної Калини, 85a">
        <input type="radio" name="Address" id="address6" title="Parodent USА">
        <input type="radio" name="Address" id="address7" title="Parodent CAN">
      </summary>

      <ul class="select-address-styled header__select-address">
        <li onclick="choosePPlace(1)">
          <label for="address1">
            м.Львів, вул.Шевченка, 87А
          </label>
        </li>

        <li>
          <label for="address2">м.Львів, вул.Личаківська, 52</label>
        </li>

        <li>
          <label for="address3">м.Львів, вул.Скорика, 29</label>
        </li>

        <li>
          <label for="address4">м.Львів, вул.Глибока, 4</label>
        </li>

        <li>
          <label for="address5">м.Львів, пр-т.Червоної Калини, 85a
            <span class="select-address__phone-number">+38 (067) 000 21 87</span>
            <span class="select-address__phone-number">+38 (044) 334 41 00</span>
          </label>
        </li>

        <li>
          <label for="address6">Parodent USА
            <span class="select-address__phone-number">+1 (623) 398 68 08</span>
          </label>
        </li>

        <li>
          <label for="address7">Parodent CAN
            <span class="select-address__phone-number">416-201-4440</span>
          </label>
        </li>
      </ul>
    </details>
</header>