footer.footer {
    border: 1px solid #c5c5c5;
    padding: 25px 100px 50px;

    >div.footer__main-content {
        display: flex;

        >div.footer__text {
            margin-right: 10%;
        }


        >div.footer__links {
            display: flex;
            width: 100%;
            gap: 20%;

            >div.services {
                display: flex;
                width: 66%;

                ul.services__links {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 20% !important;
                }
            }

            >:is(div.general, div.services) {
                display: flex;
                flex-direction: column;
                gap: 25px;

                >div.links-title {
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                >:is(ul.general__links, ul.services__links) {
                    display: grid;
                    row-gap: 20px;

                    >li.footer-link {
                        width: max-content;

                        a {
                            color: #000;
                            font-size: 14px;
                            font-weight: 400;
                            text-wrap: nowrap;

                            &:hover {
                                color: var(--primary-color);
                                transition: color .4s ease-in-out;
                                text-decoration: underline;
                                cursor: pointer;
                                text-shadow: .6px .6px rgb(151, 35, 43);
                            }
                        }
                    }
                }
            }
        }
    }
}



div.styled-text--large {
    color: #000;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px !important;
    letter-spacing: 1.2px !important;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;

    >span.styled-text--red {
        line-height: 40px;
        color: var(--primary-color);
    }
}


@media screen and (max-width: 1560px) {
    footer.footer {
        padding: 25px 90px 40px;

        >div.footer__main-content {
            >div.footer__text {
                margin-right: 8%;
            }

            >div.footer__links {
                display: flex;
                width: 100%;
                gap: 20%;

                >div.services {
                    display: flex;
                    width: 66%;

                    ul.services__links {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        column-gap: 20% !important;
                    }
                }

                >:is(div.general, div.services) {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;

                    >div.links-title {
                        font-size: 13px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }

                    >:is(ul.general__links, ul.services__links) {
                        >li.footer-link {
                            a {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {}